
MovieRecommendationProject/MovieProject.ipynb
.ipynb_checkpoints/MovieProject-checkpoint.ipynb
movie_dict.pkl
MovieRecommendationProject.ipynb
MovieRecommendationProject/.ipynb_checkpoints/MovieProject-checkpoint.ipynb
movies.pkl
MovieRecommendationProject/tmdb_5000_movies.csv
MovieProject.ipynb
MovieRecommendationProject/tmdb_5000_credits.csv
.ipynb_checkpoints/MovieRecommendationProject-checkpoint.ipynb
similarity.pkl
